In [1]:
file_path = r"/home/honey/Desktop/Ineuron_ML_Project/ml_project/housing/artifact/data_ingestion/2022-09-06-21-05-13/ingested_data/test/housing.csv"

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(file_path)

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN
1,-120.42,34.89,24.0,2020.0,307.0,855.0,283.0,5.0099,162500.0,<1H OCEAN
2,-118.45,34.25,36.0,1453.0,270.0,808.0,275.0,4.3839,204600.0,<1H OCEAN
3,-118.10,33.91,35.0,1653.0,325.0,1072.0,301.0,3.2708,159700.0,<1H OCEAN
4,-117.07,32.77,38.0,3779.0,614.0,1495.0,614.0,4.3529,184000.0,NEAR OCEAN

In [8]:
df.shape

(4128, 10)

In [9]:
from housing.entity.housing_predictor import HousingPredictor

In [12]:
housing_predictor = HousingPredictor(model_dir=r"/home/honey/Desktop/Ineuron_ML_Project/ml_project/saved_models")

In [15]:
housing_predictor.predict(df)

array([424327.43173199, 290941.55056488, 242611.08936427, ...,
       309892.89406352, 266770.06617997, 238676.55345928])

In [18]:
pred = housing_predictor.predict(df)

In [19]:
pred.shape

(4128,)

In [20]:
df[:1].to_dict()

{'longitude': {0: -118.39},
 'latitude': {0: 34.12},
 'housing_median_age': {0: 29.0},
 'total_rooms': {0: 6447.0},
 'total_bedrooms': {0: 1012.0},
 'population': {0: 2184.0},
 'households': {0: 960.0},
 'median_income': {0: 8.2816},
 'median_house_value': {0: 500001.0},
 'ocean_proximity': {0: '<1H OCEAN'}}

In [23]:

pd.DataFrame(df[:1].to_dict())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN

In [24]:
single_record_df = pd.DataFrame(df[:1].to_dict())

In [25]:
# prediction for single record
housing_predictor.predict(single_record_df)

array([424327.43173199])

In [27]:
housing_predictor.get_latest_model_path()

'/home/honey/Desktop/Ineuron_ML_Project/ml_project/saved_models/20220906210608/model.pkl'