In [1]:
import pandas as pd

In [2]:
da={"a":[1,2,3]}

In [3]:
df=pd.DataFrame(da)

In [4]:
df=df.astype('str')

In [5]:
df+" "+df

     a
0  1 1
1  2 2
2  3 3